<template>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <q-table
        title="Students"
        :data="students"
        :columns="columns"
        row-key="name"
      >
        <q-td slot="body-cell-action" slot-scope="props"
              :props="props">
          <q-btn round flat icon="remove_red_eye" color="primary"
                 @click="$router.push(`/student/${props.value.id}`)"/>
        </q-td>
      </q-table>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      students: [],
      columns: [
        {
          name: 'firstname',
          label: 'Prénom',
          align: 'left',
          field: 'firstname',
          sortable: true
        },
        {
          name: 'lastname',
          label: 'Nom',
          align: 'left',
          field: 'lastname',
          sortable: true
        },
        {
          name: 'average',
          label: 'Moyenne',
          align: 'left',
          field: 'average',
          sortable: true
        },
        {
          name: 'action',
          align: 'center',
          field: row => row
        }
      ]
    }
  },
  created () {
    this.$http.get('student')
      .then(res => {
        this.students = res.data
      }, err => {
        console.log(err)
      })
  }
}
</script>
