<template>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <q-list highlight>
        <q-list-header>Student</q-list-header>
        <q-item>
          <q-item-side>
            <q-item-tile>
              Prénom
            </q-item-tile>
          </q-item-side>
          <q-item-main :label="student.firstname"/>
        </q-item>
        <q-item>
          <q-item-side>
            <q-item-tile>
              Nom
            </q-item-tile>
          </q-item-side>
          <q-item-main :label="student.lastname"/>
        </q-item>
        <q-item>
          <q-item-side>
            <q-item-tile>
              Date de naissance
            </q-item-tile>
          </q-item-side>
          <q-item-main :label="student.birthday_date"/>
        </q-item>
        <q-item>
          <q-item-side>
            <q-item-tile>
              Gender
            </q-item-tile>
          </q-item-side>
          <q-item-main :label="student.gender"/>
        </q-item>
        <q-item>
          <q-item-side>
            <q-item-tile>
              Avatar
            </q-item-tile>
          </q-item-side>
          <q-item-main>
            <img :src="student.picture"
                 style="display: block; margin: auto; border-radius: 20px"
                 width="150">
          </q-item-main>
        </q-item>
      </q-list>
      <q-table
        title="Marks"
        :data="student.marks"
        :columns="columns"
        row-key="name"
      />
      <q-list highlight>
        <q-list-header>Grouped marks</q-list-header>
        <q-item v-for="(subject, index) in groupedMarks" :key="index">
          <q-item-side>
            <q-item-tile>
              {{index}}
            </q-item-tile>
          </q-item-side>
          <q-item-main :label="getTotal(subject)"/>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      student: {},
      groupedMarks: {},
      columns: [
        {
          name: 'value',
          label: 'Note',
          align: 'left',
          field: 'value',
          sortable: true
        },
        {
          name: 'subject',
          label: 'Matière',
          align: 'left',
          field: 'subject',
          sortable: true
        },
        {
          name: 'date',
          label: 'Date de l\'examen',
          align: 'left',
          field: 'date',
          sortable: true
        },
        {
          name: 'coefficient',
          label: 'Coefficient',
          align: 'left',
          field: 'coefficient',
          sortable: true
        }
      ]
    }
  },
  created () {
    this.$http.get(`student/${this.$route.params.id}`)
      .then(res => {
        this.student = res.data
        this.groupedMarks = this.groupBy(this.student.marks, 'subject')
      }, err => {
        console.log(err)
      })
  },
  methods: {
    groupBy (xs, key) {
      return xs.reduce((rv, x) => {
        (rv[x[key]] = rv[x[key]] || []).push(x)
        return rv
      }, {})
    },
    getTotal: function (subject) {
      let cof = 0
      let tot = 0
      subject.forEach(mark => {
        cof += mark.coefficient
        tot += mark.value * mark.coefficient
      })
      let result = tot / cof
      return result.toFixed(2)
    }
  }
}
</script>
