<template>
  <div id="q-app">
    <q-toolbar color="primary">
      <q-toolbar-title>
        Innovela
      </q-toolbar-title>
    </q-toolbar>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
</style>
